body {
    background-image: url("/static/blankfile.jpg");
    background-color: rgb(180, 247, 171);
    font-family: 'Georgia', sans-serif;
    text-align: center;
  }

#banner .content h1, p {
    border: 3px solid rgb(226, 227, 255);
    position: relative;
    top: 50px;
    width: 350px;
    margin: 0 auto;
}

nav {
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: rgba(18, 124, 18, 0.336);
}
