<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>cut-time</title>

    <div>
        <a href="/">Home Page</a>
        | 
        <a href="/parameters5">Multi</a>
        | 
        <a href="/scatter">Scatter</a>
        | 
        <a href="/upload">Upload</a>
    </div>
</head>
<body>
    <h2>The world's best football app</h2>

    {% block content %}

    {% endblock %}
</body>
</html>