<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/style.css" rel= 'stylesheet'>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>cut-time</title>

    <nav>
        <a href="/">Home Page</a>
        | 
        <a href="/parameters5">Multi</a>
        | 
        <a href="/scatter">Scatter</a>
        | 
        <a href="/upload">Upload</a>
        | 
        <a href="/testing">resting</a>
    </nav>
    
</head>
<body>
        
    <header>
        <h2>The world's best football app</h2>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>
