<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cut-time</title>
</head>

<body>
-->
{% extends "base.html"  %}
{% block content %}


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          {{dan_1| safe}},
          {{dan_2| safe}},
          {{dan_3| safe}},
          {{dan_4| safe}},
        ]);

        var options = {
          chart: {
            title: 'Player performance',
            subtitle: 'Comparison of parameters: 2020',
          },
          // bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>


    
        <h4>1)Can upload player tables.</h>
        <h4>2)Can compare player data In three different ways.</h4>
      <h4>Next step: View data on graphs in real-time.</h4>

    
    <div>
      <form action="/" method="POST" enctype="multipart/form-data">

        <label>Select File</label>
        <input type="file" name="ecxel" id="file">
        <label for="file">Ahead to the next big thing-></label>
        <!--
        <button type="submit" name="submit_button" value="Do Something">2)Upload the file</button>
        <button type="submit" name="submit_button" value="export">3) Export the file</button>
        <button type="submit" name="submit_button" value="Upload to palyer tabel">4)Upload to player tabel </button>
        <br>
        -->
        <button type="submit" name="submit_button" value="Upload to player_Name tabel">Upload the player file</button>
        <br>
        <label for="parameters">Please choose 2 parameters:   A-> </label>
        <select id="parameters" name= parameters_1 method="GET" action="/">
            {% for parameter in tabel_parameters %}
            <option value= "{{parameter}}" SELECTED>{{parameter}}</option>
            {% endfor %}
        </select>
        <label for="parameter_2">B-></label>
        <select id="parameter_2" name= parameters_2 method="GET" action="/">
            {% for parameter in tabel_parameters %}
            <option value= "{{parameter}}" SELECTED>{{parameter}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="pleyers_names">Please choose 3 players: </label>
        <select id=pleyers_names name= player_1 method="GET" action="/">
            {% for player in player_Name_options_list %}
            <option value= "{{player}}" SELECTED>{{player}}</option>
            {% endfor %}
        </select>
        <select name= player_2 method="GET" action="/">
            {% for player in player_Name_options_list %}
            <option value= "{{player}}" SELECTED>{{player}}</option>
            {% endfor %}
        </select>
        <select name= player_3 method="GET" action="/">
            {% for player in player_Name_options_list %}
            <option value= "{{player}}" SELECTED>{{player}}</option>
            {% endfor %}
        </select>

        <button type="submit" name="submit_button" value="show_parameters">6) show_parameters </button>

      </form>
    </div>
    <div id="barchart_material" style="width: 1000px; height: 500px;"></div>

    <p>{{dataframe | safe}}</p>
    
    <p>{{tabel | safe}}</p>    

    {% for rew in all_data %}
    <li>{{rew.id}},{{rew.bbb}},{{rew.ccc}},{{rew.ddd}},{{rew.eee}} </li>
    {% endfor %}
    
{% endblock %}
  
<!--
  </body>
</html>
-->