<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cut-time</title>
</head>
<body>
    <h1>The world's best football app</h1>
        <h3>1)Can upload player tables.</h3>
        <h3>2)Can compare player data.</h3>
        <h3>3)In the future Eyal Gabai will be the king</h3>
    <p>Next step: View data on graphs, Download a file of comparison results.</P>

    
    <div>
      <form action="/" method="POST" enctype="multipart/form-data">
        
        <label for="parameters">Please choose 2 parameters </label>
        <select id="parameters" name= parameters_1 method="GET" action="/">
            {% for parameter in tabel_parameters %}
            <option value= "{{parameter}}" SELECTED>{{parameter}}</option>
            {% endfor %}
        </select>
        <select name= parameters_2 method="GET" action="/">
            {% for parameter in tabel_parameters %}
            <option value= "{{parameter}}" SELECTED>{{parameter}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="pleyers_names">Please choose 3 players </label>
        <select id=pleyers_names name= player_1 method="GET" action="/">
            {% for player in player_Name_options_list %}
            <option value= "{{player}}" SELECTED>{{player}}</option>
            {% endfor %}
        </select>
        <select name= player_2 method="GET" action="/">
            {% for player in player_Name_options_list %}
            <option value= "{{player}}" SELECTED>{{player}}</option>
            {% endfor %}
        </select>
        <select name= player_3 method="GET" action="/">
            {% for player in player_Name_options_list %}
            <option value= "{{player}}" SELECTED>{{player}}</option>
            {% endfor %}
        </select>

        <button type="submit" name="submit_button" value="show_parameters">6) show_parameters </button>


        <br><br>
        <label>Select File</label>
        <input type="file" name="ecxel" id="file">
        <label for="file">Ahead to the next big thing-></label>
        <!--
        <button type="submit" name="submit_button" value="Do Something">2)Upload the file</button>
        <button type="submit" name="submit_button" value="export">3) Export the file</button>
        <button type="submit" name="submit_button" value="Upload to palyer tabel">4)Upload to player tabel </button>
        <br>
        -->
        <button type="submit" name="submit_button" value="Upload to player_Name tabel">5)Upload to all three tabels </button>

      </form>
    </div>
    <p>{{dataframe | safe}}</p>
    <!--
    <div id="barchart_material" style="width: 900px; height: 500px;"></div>
        -->
    <p>{{tabel | safe}}</p>    

    {% for rew in all_data %}
    <li>{{rew.id}},{{rew.bbb}},{{rew.ccc}},{{rew.ddd}},{{rew.eee}} </li>
    {% endfor %}
    
    
</body>
</html>
