<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/static/style.css" rel= 'stylesheet'>

    <nav>
        <a href="/">Home Page</a>
        | 
        <a href="/parameters5">Multi</a>
        | 
        <a href="/scatter">Scatter</a>
        | 
        <a href="/upload">Upload</a>
        | 
        <a href="/testing">resting</a>
    </nav>

</head>
<body>
    <div id= "banner">
        <div class='content'>
            <h1>Jumatate</h1>
            <br>
            <p>the best site for statistical football calculations</p>
        </div>
    </div>
    
</body>
</html>
